<section id="Rooms">

    <div class="container">

        <div class="row">

            <div class="header-text">

                <h2 id="heading">Meetings Rooms</h2>

            </div>

        </div>

        <form class="row">

            <div class="card" *ngFor="let item of displayAllRoom" >
                <div class="card-image">
                  <img  src="{{item.image}}" alt="">
                </div>
                <div class="card-text">
                    <h2>{{item.roomName}} </h2>
                  <h2 >{{item.capacity}}</h2>
                  <p class="card-body" *ngIf="item.isAVRoom == true"> AV Room Supported</p>
                  <p class="card-body" *ngIf="item.isAVRoom != true"> AV Not Supported</p>
                </div>
               <button class="card-price">Book Room</button>
              </div>

        </form>

    </div>
</section>