<app-admindashboard></app-admindashboard>
<section class="dark">

    <div class="container py-4">
  
      <div class="header">
  
        <h1 class="h1 text-center" id="pageHeaderTitle">WELCOME ADMIN! &nbsp;&nbsp;{{userName}} </h1>
  
      </div>
  
      <article class="postcard dark blue">
  
        <!-- <a class="postcard__img_link" href="#"> -->
  
          <img class="postcard__img"
  
            src="https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y3JlYXRpdmUlMjBtZWV0aW5nfGVufDB8fDB8fHww&w=1000&q=80"
  
            alt="Image Title" />
  
        <!-- </a> -->
  
        <div class="postcard__text">
  
          <h1 class="postcard__title blue">Welcome to the Conference Hall Admin Page!</h1>
  
          <div class="postcard__subtitle small">
  
   
  
            <i class="fas fa-calendar-alt mr-2"></i>{{ time | date: 'YYYY-MM-dd  hh:mm:ss a' }}
  
   
  
          </div>
  
          <div class="postcard__bar"></div>
  
          <div class="postcard__preview-txt">Conference rooms help to make your meetings run more smoothly. They are
  
            quiet, private spaces where people feel happy sharing information and ideas. They also provide a comfortable
  
            and professional setting — so you can count on getting the most from your team and making the best possible
  
            impression.</div>
  
   
  
        </div>
  
      </article>
  
      <article class="postcard dark red">
  
        <a class="postcard__img_link" href="#">
  
          <img class="postcard__img"
  
            src="https://thumbs.dreamstime.com/b/multiethnic-diverse-group-creative-team-business-coworker-clap-hands-project-presentation-meeting-leading-asian-woman-123678675.jpg"
  
            alt="Image Title" />
  
        </a>
  
        <div class="postcard__text">
  
          <h1 class="postcard__title red">Conference rooms are perfect for collaboration</h1>
  
          <div class="postcard__subtitle small">
  
   
  
            <!-- <i class="fas fa-calendar-alt mr-2"></i>Mon, July 31th 2023 -->
  
   
  
          </div>
  
          <div class="postcard__bar"></div>
  
          <div class="postcard__preview-txt">The best place for people to gather when working together on a business
  
            problem is in a well-equipped conference room. When you put people in a defined space, removed from their
  
            cubicles or the chaos of an open floor plan, you physically unite a team of people. Conference room tech also
  
            contributes to a problem-solving session. A well-designed conference room includes tools that foster easy
  
            collaboration, such as a big-screen monitor, an all-in-one video conferencing solution, and whiteboards for
  
            impromptu writing, drawing, and more.</div>
  
   
  
        </div>
  
   
  
      </article>
  
      <article class="postcard dark yellow">
  
        <a class="postcard__img_link" href="#">
  
          <img class="postcard__img"
  
            src="https://www.frontsigns.com/wp-content/uploads/2022/01/meeting-space-custom-design-solutions.jpg"
  
            alt="Image Title" />
  
        </a>
  
        <div class="postcard__text">
  
          <h1 class="postcard__title yellow">Purpose of conference room</h1>
  
          <div class="postcard__subtitle small">
  
   
  
            <!-- <i class="fas fa-calendar-alt mr-2"></i>Mon, July 31th 2023 -->
  
   
  
          </div>
  
          <div class="postcard__bar"></div>
  
          <div class="postcard__preview-txt">The Admin Dashboard of the Conference Management System serves as a
  
            centralized control center for conference organizers, enabling them to streamline conference planning, manage
  
            resources effectively, and make data-driven decisions. With its user-friendly interface and comprehensive
  
            functionalities, the Dashboard enhances the efficiency of conference management, leading to successful and
  
            memorable events.</div>
  
   
  
        </div>
  
      </article>
  
    </div>
  
   
  
  </section>
