


<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<app-header></app-header>

<div class=".body">
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="box">
                <div class="overlay">
                    <h1>Book your Meetings</h1>
                    <h4>Reasons for Choosing US</h4>
                    <p>Revolutionize conference management with our streamlined system. Elevate attendee experiences through seamless organization. Inspire connections that last a lifetime.
                    </p>
                    <br>
                    <button>READ MORE</button>
                </div>
            </div>
        </div>
    </div>

    <app-roomsbox></app-roomsbox>
    <section id="about">

        <div class="container">
    
            <div class="row">
    
                <div class="col-lg-6 left">
    
                    <h2>A LITTLE ABOUT US</h2>
    
                    <div class="title_min"></div>
    
                    <p>Conference Management</p>
    
                </div>
    
                <div class="col-lg-6">
    
                    <p>
                        Conference management involves the meticulous planning, organization, and execution of successful
                        conferences, seminars, and events. From conceptualization to post-event evaluations, our expert team
                        handles every aspect, ensuring a seamless experience for all attendees. We pride ourselves on
                        delivering top-notch services, from venue selection and speaker coordination to registration
                        management and audio-visual setup. </p>
    
                </div>
    
            </div>
    
        </div>
    
    </section>

    <div class="section no-pad-bot" id="second-banner">
        <div class="container">
            
            <h1 class="header center black-text">
                STREAMLINE CONFERENCES, ELEVATE EXPERIENCES</h1>
           

        </div>
    </div>

  
   
</div>


<app-footer></app-footer>