
<link rel="shortcut icon" href="https://img.icons8.com/ultraviolet/40/000000/old-woman.png" type="imagex-icon">

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<app-header></app-header>

<div class=".body">
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br><br><br><br><br><br>

            <header>
                <div class="overlay">
                    <h1>Book your Meetings</h1>
                    <h4>Reasons for Choosing US</h4>
                    <p>Revolutionize conference management with our streamlined system. Elevate attendee experiences through seamless organization. Inspire connections that last a lifetime.
                    </p>
                    <br>
                    <button>READ MORE</button>
                </div>
            </header>

            <div class="row center">
                <h5 class="header col s12 light white-text">
                    A modern calm but with a retro love</h5>
            </div>

            <br><br><br><br><br><br><br>

        </div>
    </div>

    <app-roomsbox></app-roomsbox>

    <div class="section no-pad-bot" id="second-banner">
        <div class="container">
            
            <h1 class="header center black-text">
                STREAMLINE CONFERENCES, ELEVATE EXPERIENCES</h1>
           

        </div>
    </div>

  
   
</div>


<app-footer></app-footer>