#Rooms {
    padding-bottom: 80px;

}

#Rooms .card {
    border: none;
    padding: 10px;
    overflow: hidden;
    outline: none;
    transition: .7s;
    margin-left: 50px;
 
}
#Rooms .card:hover {
    transform: scale(1.1);
}

#Rooms .card:hover img {
    transform: scale(1.15);
    transition: .7s;
}

#Rooms .card h2 {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: #343a40;
    padding: 15px 0px;
    transition: .5s;
}

#Rooms .card h2:hover {
    color: #1e247f;
    opacity: .7;
}



#about {
    padding: 120px 0px;
    width: 100%;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(342deg, rgba(112, 201, 216, 1) 0%, rgba(34, 71, 116, 1) 53%);
}

#about h2 {
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    font-weight: 600;

}

#about .left p {
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 15px;

}

#about p {
    color: #fff;
    text-align: center;
    line-height: 21px;
    font-size: 14px;

}
button{
    background: linear-gradient(342deg, rgba(112, 201, 216, 1) 0%, rgba(34, 71, 116, 1) 53%);
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px;
    color: white;
    box-shadow: 4px 4px 0 rgb(34, 34, 148);
    transition:transform 0.2s ,box-shadow 0.2s; 
}
button:active{
    transform: translateX(4px) translateY(4px);
    box-shadow: 0 0 0 rgb(34, 34, 148);  
}
