<link href="https://fonts.googleapis.com/css?family=Caladea|Crete+Round|Merriweather|Mitr&display=swap"
    rel="stylesheet">



<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">





<section id="Rooms">

    <div class="container">

        <div class="row">

            <div class="header-text">

                <h2>HOTEL Mon Paradis <span>Rooms</span></h2>

            </div>

        </div>

        <div class="row">

            <div class="col-lg-3 card">

                <img src="https://images.unsplash.com/photo-1583847268964-b28dc8f51f92?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cm9vbXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
                    alt="">

                <h2>STANDARD ROOM – ONE KING BED</h2>

                <a href="#">Read More <i class="fas fa-angle-right"></i></a>

            </div>

            <div class="col-lg-3 card">

                <img src="https://images.unsplash.com/photo-1562663474-6cbb3eaa4d14?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cm9vbXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
                    alt="">

                <h2>STANDARD ROOM – ONE KING BED</h2>

                <a href="#">Read More <i class="fas fa-angle-right"></i></a>

            </div>

            <div class="col-lg-3 card">

                <img src="https://plus.unsplash.com/premium_photo-1675615949585-36aaf4cb778d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDN8fHJvb21zfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
                    alt="">

                <h2>STANDARD ROOM – ONE KING BED</h2>

                <a href="#">Read More <i class="fas fa-angle-right"></i></a>

            </div>

            <div class="col-lg-3 card">

                <img src="https://images.unsplash.com/photo-1532372576444-dda954194ad0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzJ8fHJvb21zfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
                    alt="">

                <h2>STANDARD ROOM – ONE KING BED</h2>

                <a href="#">Read More <i class="fas fa-angle-right"></i></a>

            </div>

        </div>

    </div>



</section>

<section id="about">

    <div class="container">

        <div class="row">

            <div class="col-lg-6 left">

                <h2>A LITTLE ABOUT US</h2>

                <div class="title_min"></div>

                <p>Inspiration can be found everywhere</p>

            </div>

            <div class="col-lg-6">

                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus
                    commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor
                    sit amet, consectetur adipiscing elit. Donec id elit non mi porta gravida at eget metus. Praesent
                    commodo cursus magna, vel scelerisque nisl consectetur et. </p>

            </div>

        </div>

    </div>

</section>