<link href="https://fonts.googleapis.com/css?family=Caladea|Crete+Round|Merriweather|Mitr&display=swap"
    rel="stylesheet">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<section id="Rooms">

    <div class="container">

        <div class="row">

            <div class="header-text">

                <h2>HOTEL Mon Paradis <span>Rooms</span></h2>

            </div>

        </div>

        <form class="row">

            <div *ngFor="let item of displayAllRoom" class="col-lg-3 card">

                <img src="{{item.image}}" alt="Item Image">
                <h2>{{item.roomName}} </h2>
                <h2><td>{{item.capacity}}</td></h2>
                <!-- <h2>{{item.isAVRoom}}</h2> -->
                <td *ngIf="item.isAVRoom == true">AV Room Supported</td>
                <td *ngIf="item.isAVRoom != true">AV Not Supported</td>
                <button>Book Room</button>
            </div>

        </form>

    </div>



</section>

<section id="about">

    <div class="container">

        <div class="row">

            <div class="col-lg-6 left">

                <h2>A LITTLE ABOUT US</h2>

                <div class="title_min"></div>

                <p>Conference Management</p>

            </div>

            <div class="col-lg-6">

                <p>
                    Conference management involves the meticulous planning, organization, and execution of successful
                    conferences, seminars, and events. From conceptualization to post-event evaluations, our expert team
                    handles every aspect, ensuring a seamless experience for all attendees. We pride ourselves on
                    delivering top-notch services, from venue selection and speaker coordination to registration
                    management and audio-visual setup. </p>

            </div>

        </div>

    </div>

</section>