#Rooms{
    padding-bottom:80px;
 
    }
    #Rooms .card{
    border:none;
    padding: 10px;
    overflow:hidden;
    outline:none;
    transition:.7s;
    }
    #Rooms .card:hover img{
    transform: scale(1.15);
    transition:.7s;
    }
    #Rooms .card h2{
    text-align: center;
    font-size: 15px;
    font-weight:600;
    color:#343a40;
    padding:15px 0px;
    transition:.5s;
    }
    #Rooms .card h2:hover{
    color:#1e7f35;
    opacity:.7;
    }
    #Rooms .card a{
    text-decoration: none;
    text-align: justify;
    color:#1e7f35;
    font-size:15px;
    text-transform:capitalize;
    transition:.5s;
    
    
    }
    #Rooms .card a:hover i{
    margin-left:5px;
    transition:.5s;
    }

    #room_detils{
        padding:50px 0px;
        text-align:center;
        }
        
        #room_detils h2{
        color:#000;
        font-size:18px;
        font-weight:500;
        font-family:Helvetica;
        margin-top:5px;
        margin-bottom:20px;
        }
        
        #room_detils p{
        color:#444141;
        font-size:15px;
        font-weight:500;
        font-family:Helvetica;
        margin-top:10px;
        }
        #room_detils .card{
        border:none;
        margin-bottom:20px;
        }
        #room_detils .content{
        padding:20px;
        }
        
        /*-----pricing----------*/
        .price_opt{
        position:relative;
        
        }
        .price_opt img{
        width:100%;
        }
        #about{
            padding: 120px 0px;
            width:100%;
            background-size: cover;
            background-position: center;
            justify-content: center;
            align-items: center;
            background: linear-gradient(342deg, rgba(112,201,216,1) 0%, rgba(34,71,116,1) 53%);
            }
            #about h2{
            text-align: center;
            justify-content: center;
            color:#fff;
            font-size:40px;
            line-height: 40px;
            margin-bottom:20px;
            font-weight:600;
            
            }
            #about .left p{
            color:#fff;
            text-align:center;
            line-height:50px;
            font-size:15px;
            
            }
            #about p{
            color:#fff;
            text-align:center;
            line-height:21px;
            font-size:14px;
            
            }