<div class="body">
	<section>
		<div class="leftBox">
			<nav>
				<ul>
					<li><a routerLink="">Home</a></li>

					<li><a routerLink="signup">Registration</a></li>

					<li><a routerLink="login">Login</a></li>
				</ul>
			</nav>

			<div class="content">
				<h1>
					MEETINGS ARE HERE
				</h1>
				<p>
					Conference management is the meticulous coordination and organization of all aspects related to
					hosting a successful conference. From planning and logistics to execution and follow-up, conference
					management involves a wide range of tasks. This includes selecting the venue, managing
					registrations, coordinating speakers and presentations, arranging audio-visual equipment, catering,
					accommodation, and ensuring a smooth flow of events during the conference. Skilled conference
					managers are adept at handling unexpected challenges, ensuring that participants have a seamless and
					enriching experience. Their focus lies in creating an engaging and conducive environment for
					networking, knowledge sharing, and fostering fruitful collaborations among attendees.
				</p>
			</div>
		</div>
		<div class="events">
			<ul>
				<li>
					<div class="time">
						<h2>
							15 <br><span>March</span>
						</h2>
					</div>
					<div class="details">
						<h3>
							Where is the event happening?
						</h3>
						<p>
							Conference rooms are dedicated spaces within an office or commercial building designed.
						</p>
						<a href="#">View Details</a>
					</div>

				</li>
				<li>
					<div class="time">
						<h2>
							27 <br><span>May</span>
						</h2>
					</div>
					<div class="details">
						<h3>
							Where is the event happening?
						</h3>
						<p>
							Conference rooms are dedicated spaces within an office or commercial building designed.
						</p>
						<a href="#">View Details</a>
					</div>

				</li>
				<li>
					<div class="time">
						<h2>
							12 <br><span>August</span>
						</h2>
					</div>
					<div class="details">
						<h3>
							Where is the event happening?
						</h3>
						<p>
							Conference rooms are dedicated spaces within an office or commercial building designed.
							<a href="#">View Details</a>
						</p>
					</div>

				</li>
			</ul>
		</div>
	</section>
</div>