
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<app-header></app-header>

<div class="body">
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="box">
                <div class="overlay">
                    <h1>Book your Meetings</h1>
                    <h4>Reasons for Choosing US</h4>
                    <p>Revolutionize conference management with our streamlined system. Elevate attendee experiences through seamless organization. Inspire connections that last a lifetime.
                    </p>
                    <br>
                    <button>READ MORE</button>
                </div>
            </div>
        </div>
    </div>

    <app-roomsbox></app-roomsbox>

    <app-about></app-about>

  


   
</div>


<app-footer></app-footer> -->
<app-header></app-header>

<div class="body">
    <div class="section no-pad-bot" id="index-banner">


        <section id="about" class="about">
            <div class="container flex items-center about-inne-wrap">
                <div class="flex-1">
                    <img class="about-me-img" src="./../../../assets/image/conference.png" alt="">
                </div>
                <div class="flex-1 right">
                    <h1>conference</h1>
                    <h1><span>Management</span></h1>
                    <p>
                        Conference management is a multifaceted endeavor that demands meticulous planning, organization,
                        and execution. From the initial stages of strategizing the conference objectives and theme to
                        the post-event evaluation, every step plays a vital role in its overall success. Selecting the
                        right venue, managing budgets, and securing sponsors are fundamental to providing a seamless
                        experience for attendees.
                    </p>

                </div>
            </div>
        </section>



    </div>

    <app-roomsbox></app-roomsbox>

    <app-about></app-about>

    

    <app-footer></app-footer>