


  .navbar{
    background: linear-gradient(90deg,#2980b9,#2c3e50);	
  }  

  #logo-container{
   
    text-decoration: none;
    font-size: medium;
    color:rgb(247, 244, 244);
    font-weight: 600;
    margin-right: 40px;
  }
  #logo-container i{ 
    margin-top: 20px; 
  }
  a{
    color:white;
    margin-right: 60px;
  }
  .nav-link:hover{
    text-decoration-line: underline;


  }
 



 

  

 