<form>
    <header>
        <div class="navbar-fixed">
            <nav class="indigo " role="navigation">
                <div class="toggle">
                    <details>
                        <summary></summary>
                        <nav class="menu">
                            <a routerLink="">Home</a>
                            <a href="#link">Work</a>
                            <a href="#link">Links</a>
                            <a routerLink="/contact">Contact</a>
                            <a href="#about">About</a>
                            <a routerLink="/editprofile">Profile</a>
                            <input type="text" id="name" name="name" [(ngModel)]="user.name" readonly>
                        </nav>
                    </details>
                </div>

            </nav>
        </div>

        <ul class="sidenav indigo lighten-5" id="mobile-demo">
            <li><a class="waves-effect sidenav-close" href="#fondo">Interiores de lujo</a></li>
            <li><a class="waves-effect sidenav-close" href="#second-banner">Servicios</a></li>
            <li><a class="waves-effect sidenav-close" href="#fondo2">Las ciudades</a></li>
            <li><a class="waves-effect sidenav-close" href="#pie">Find us</a></li>
        </ul>
    </header>

</form>