<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css ">
 

<form>
    <header>
        <div class="navbar-fixed">
            <nav class="indigo " role="navigation">
                <div class="toggle">
                    <details>
                        <summary></summary>
                        <nav class="menu">
                            <a href="#link">Home</a>
                            <a href="#link">Work</a>
                            <a href="#link">Links</a>
                            <a routerLink="/contact">Contact</a>
                            <a href="#about">About</a>
                            <a href="">Notification</a>
                                                    
                        </nav>
                        <img src="" alt="Bootstrap" width="30" height="24">
                        
                        <a id="logo-container" href="#" class="brand-logo white-text" routerLink="/editprofile"><i class="fa-regular fa-user"></i>{{user.name}}</a>
                    </details>
                </div>

            </nav>
        </div>
    </header>

</form>